# Java
*.class

# C and Cpp
*.o
a.out

# ANTLR4
*.tokens
*.interp

# build directory
build

# CMake in-source build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
_deps/
include/

# LLVM
*.bc
*.ll

# CLion
.idea/
cmake-build-debug

# Vim
*.swp

# Lcov
gen/

html/
latex/
xml/
*.info

# reports
coverage.out/

# setup artifacts
corretto.key*
kitware-archive.sh*
llvm.sh*
